# =========================
# Java - Arquivos compilados
# =========================
*.class

# =========================
# Arquivos JAR (JUnit manual)
# =========================
*.jar

# =========================
# Pastas de build (caso evolua depois)
# =========================
bin/
out/
target/
build/

# =========================
# Maven (caso use no futuro)
# =========================
.mvn/
dependency-reduced-pom.xml

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Codespaces / Devcontainer temporários
# =========================
.devcontainer/*.local.json

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db